<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink=''>Angular App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
              aria-expanded="false">Components</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink='component/template'>Template-Form</a></li>
              <li><a class="dropdown-item" routerLink='component/reactive'>Reactive-Form</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
              aria-expanded="false">Material</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink='a'>Action</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
              aria-expanded="false">Rxjs</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink='a'>Action</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
              aria-expanded="false">Ngxs</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink='a'>Action</a></li>
            </ul>
          </li>
        </div>
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>

</div>