<p>reactive-form works!</p>

<form [formGroup]="productForm">    
    Email: <input formControlName="email" placeholder="Email"> <b *ngIf="productForm.get('email')?.invalid">Invalid Email Id</b>
    Password: <input formControlName="password" placeholder="Password"><b *ngIf="productForm.get('password')?.errors">Invalid Email Id</b><br><br>
    Confirm Password: <input formControlName="cpassword" placeholder="Confirm Password">
    Pin: <input formControlName="pin" placeholder="Pin`"><br>
    <button type="submit" (click)="submit()">Submit</button>
</form>